.ticket-view {
  grid-column: 1/-1;
}
.loading-spinner {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  color: #666;
}
.end-of-list {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  color: #666;
}
